@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.nav-link {
  text-decoration: none;
  color: black;
  position: relative;
}

.nav-link:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #a37bff; /* Initial border color */
  transition: width 0.3s ease; /* Transition effect */
}

/* .nav-link:hover:before {
  width: 100%; /* Expand the border on hover
} */

.nav-link.active:before {
  width: 100%; /* Expand the border when NavLink is active */
}
.dashlinks {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  align-items: center;
  color: #333; /* Change color as needed */
  transition: background-color 0.3s ease;
}

.dashlinks:hover {
  background-color: #f0f0f0; /* Change hover background color as needed */
}

.dashlinks span {
  display: inline-block;
  width: 30px; /* Adjust icon width as needed */
}
.dashlinks.active {
  background-color: #aa86ff;
  color: white; /* Optionally change text color */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
